a:hover {text-decoration: none !important;}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../img/Mountain.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header {
  position: fixed;
  padding: 30px;
  width: 100%;
  border-bottom: 0px solid #fff;
  z-index: 1;

  transition: background-color .5s;
}

header a {
  color: #fff;
}

.name p {
  float: left;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: left;
}

.name:hover {
  text-decoration: none;
}

.h-nav {
  float: right;
  list-style-type: none;
  overflow: hidden;
}

.h-nav li {
  float: left;
}

.page-link {
  display: block;
  text-align: center;
  padding: 8px 20px;
}

.page-link p {
  font-weight: bold;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
}

.main {
  padding-top: 165px;
  width: 100%;
  height: 100vh;
}

.main .col-md-4 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 42px 20px;
}

.main h1 {
  font-size: 52px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #fff;
}

.main p {
  font-size: 22px;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
}

.component {
  padding: 80px 65px 100px;
  width: 100%;
  background-color: white;
  border-top: 2px solid #B51700;
  text-align: left;
}

.component h2 {
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #555;
}

.p-list {
  padding: 60px 50px 30px;
  background-color: snow;
}

.p-obj {
  margin-bottom: 30px;
  height: 250px;
  background-color: #B51700;
  border: 2px solid #B51700;
}

.p-cover {
  width: 100%;
  height: 150px;
  background-color: #fff;
}

.p-info {
  width: 100%;
  height: 100px;
  padding: 0px 20px;
}

.p-info h4 {
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.p-info p {
  position: relative;
  top: 50%;
  margin-top: -15px;
  float: right;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

.wip {
  position: relative;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}

#contact input {
  margin-top: 15px;
}

#contact input[type="text"], #contact input[type="email"] {
  width: 500px;
  height: 55px;
  padding-left: 5px;

  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;

}

#contact input[type="text"]:focus, #contact input[type="email"]:focus, #contact textarea:focus {
  outline-style: none;
}

#contact textarea {
  margin-top: 15px;
  padding: 5px;
  width: 500px;
  height: 120px;
  border-color: #bbb;

  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

#contact input[type="submit"] {
  padding: 8px 20px;
  background-color: #fff;
  border: 2px solid #B51700;
  border-radius: 5px;

  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #B51700;
}

#contact input[type="submit"]:hover {
  background-color: #f8f8f8;
}

footer {
  padding: 50px 0px;
  width: 100%;
  background-color: #fff;
  border-top: 2px solid #ddd;
  text-align: center;
}

footer span {
  font-size: 1.8em;
  font-family: 'Arial';
  font-weight: bold;
  color: #222;
}

.social {
  position: relative;
  margin-top: 20px;
  width: 35px;
  height: 35px;

  transition: opacity .1s;
}

.social:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 991px) {
    .main {
      text-align: center;
    }
    .langs {
      width: 500px;
      height: auto;
    }
    .p-lang {
      float: center;
    }

    #contact input[type="text"], #contact input[type="email"],
    #contact input[type="submit"], #contact textarea {
      width: 100%;
    }
}
