.header {
  width: 100%;
  height: 170px;
  background-color: snow;
}

.title {
  padding-top: 31.25;
  width: 100%;
  height: 125px;
  background-color: #fff;
}

.logo {
  margin: 0px auto;
  width: 360px;
  height: 62.5px;
}

.logo .image {
  float: left;
  width: 62.5px;
  height: 62.5px;
  background-image: url('/Users/Fer/GitHub/Personal_Website/images/penn-state-big.png');
  background-position: center;
  background-size: cover;
}

.name {
  float: left;
  width: 297.5px;
  height: 62.5px;
  text-align: left;
  padding-top: 10px;
}

.name p {
  margin-left: 15px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(181, 23, 0);
}

.nav-div {
  width: 100%;
  height: 45px;
  background-color: rgb(181, 23, 0);
  padding-top: 4px;
  padding-left: 36%;
}

.nav-div li {
  border-radius: 0px;
}

.nav-div a {
  color: #fff;
}
