@font-face {
  font-family: 'Montserrat';
  src: url('https://github.com/Leira1998/Leira1998.github.io/blob/master/fonts/Montserrat-ExtraBold.otf');
}

@font-face {
  font-family: 'Ubuntu';
  src: url('https://github.com/Leira1998/Leira1998.github.io/blob/master/fonts/Ubuntu.ttf');
}
